@import url('https://fonts.googleapis.com/css?family=Contrail+One|Oswald&display=swap');

/* Background colour of the page as well as the fonts used on the page in the body part of the website */
body {

    background: #dcc7aa;
    font-family: 'Oswald', sans-serif;
    font-size: 1.000em;
}

/* Set of Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Contrail One', cursive;
}

/* Header Tag */
h1 {
    font-size: 1.667em;
    margin: 1.333em 0;
    color: orangered;
    /*    border: 1px solid black;*/
    text-align: center;
}

/* Changing the Position of the Header*/
.desc-header {
    /*    position: relative;*/
    top: 2.778em;
}

h2 {
    font-size: 1.111em;
    color: white;
    margin: 0.556em;
    /*    border: 1px solid white;*/
    text-align: center;
    text-transform: uppercase;
    line-height: 25px;
}

h3 {
    font-size: 1.111em;
    margin: 1.111em 0;
    color: white;
}

p {
    margin-bottom: 1.111em;
    font-size: 0.889em;
    line-height: 1.389em;
    color: #6B7A8F;
    text-align: center;
    margin: 1.111em 0;

}

li {
    color: #6B7A8F;
    margin: 0.278em;
}

nav ul li {
    display: inline;
    color: white;
    margin: 0 auto;
    padding: 0.833em;
    /*    border: 1px solid black;*/
}

/* Navigation */
nav {
    background-color: #F7C331;
}

.main-content {
    margin-top: 5.556em;
}

footer {
    margin-top: 100px;
    background-color: #6B7A8F;
}

/* Navigation Menu */
nav ul {
    margin: 10px;
}

nav ul li a {
    text-transform: none;
    text-decoration: none;
    color: white;
    margin: 10px
}

nav ul li a:hover {
    background-color: black;
    color: #6B7A8F
}

/* default link styles */
a {
    text-decoration: none;
    color: white;
}

/* Colour of the Navigation Bar once the cersor is being hovered over */
a:hover {
    color: lightgrey;
}


/* The Colour of the Navigation Bar once been accessed */
a:active {
    color: red;
}

/* Width of the whole page */
.wrapper {
    width: 53.333em;
    /* Margin TOP/BOTTOM left/right */
    margin: 0 auto;
    text-align: center;

}

/* Footer font size, colour and padding is where the box of the text is in */
footer p {
    font-size: 0.889em;
    color: #DCC7AA;
    padding: 1.667em 0;
    margin: 0.000em;
}

header {
    background-color: #F7C331;
    position: fixed;
    width: 100%;
    top: 0;
}

/* Background image on the page*/
.Backimage {
    background-image: url(../images/churchill-house-23.2.jpg);
    height: 16.667em;
    width: 100%;
    padding-top: 5.556em;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Background image on the page*/
.BackimageDesc {
    background-image: url(../images/churchill-house-1.2.jpg);
    height: 16.667em;
    width: 100%;
    padding-top: 5.556em;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Background image on the page*/
.BackimageDesc2 {
    background-image: url(../images/churchill-house-25.2.jpg);
    height: 16.667em;
    width: 100%;
    padding-top: 5.556em;
    background-repeat: no-repeat;
    background-size: cover;
}

.BackimageArch {
    background-image: url(../images/churchill-house-17.2.jpg);
    height: 16.667em;
    width: 100%;
    padding-top: 5.556em;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hero Image banner on the top of the Home Page */
.hero-content {
    background-image: url(../images/churchill-house-25.jpg);
    height: 16.667em;
    width: 100%;
    padding-top: 5.556em;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hero Image banner on the top of the Description Page */
.hero-content-Desc {
    background-image: url(../images/churchill-house-24.jpg);
    height: 16.667em;
    width: 100%;
    padding-top: 5.556em;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hero Image banner on the top of the Architect Page */
.hero-content-Arch {
    background-image: url(../images/churchill-house-17.2.jpg);
    height: 16.667em;
    width: 100%;
    padding-top: 5.556em;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hero Image banner on the top of the History Page */
.hero-content-Hist {
    background-image: url(../images/churchill-house-1.2.jpg);
    height: 16.667em;
    width: 100%;
    padding-top: 5.556em;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hero Image banner on the top of the Significance Page */
.hero-content-Sign {
    background-image: url(../images/churchill-house-5.2.png);
    height: 16.667em;
    width: 100%;
    padding-top: 5.556em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* The Grind of Images and Text in the centre of the screen */
.row {
    margin: 1.111em 0;
    clear: both;
}

.column {
    float: left;
    width: 50%;

}

.column img {
    max-width: 22.222em;
    margin: 0.556em;
}

/* Media Queries */

/* What will be displayed on different screen sizes */

/* When Screen is under 320px This is what will be displayed on screen Android/ iPhone */

@media screen and (max-device-width: 480px) {
    .wrapper {
        width: 92%;
    }

    .hero-content {
        background-position: center;
    }

    .hero-content-Desc {
        background-position: top;
    }

    .BackimageDesc {
        background-position: center;
    }


    .BackimageDesc2 {
        background-position: center;
    }

    .hero-content-Arch {
        background-position: center;
    }

    .hero-content-Hist {
        background-position: center;
    }

    .BackimageArch {
        background-position: center;
    }

    nav ul li {
        display: inherit;
    }

    nav ul li:first-of-type {
        display: none;
    }

    nav ul li {
        padding: 0px 0.2em 0 36px;
    }

    nav ul li a {

        padding: 0px;
        margin: 0;
    }

    h1 {
        width: 92%%;
    }

    nav ul {
        width: 92%;
        margin: 0;
    }

    main p {
        padding: 15px;
    }

    .column {
        width: 100%;

    }

    .row {
        width: 100%;
    }

    header {
        padding-bottom: 16px;
    }

    main ul {
        margin: 30px;
    }

    .column img {
        max-width: 17.222em;
    }
}


/* Screen For Ipad or Tablets */
@media screen and (max-width: 768px) {
    .wrapper {
        width: 98%;
    }


    .nav ul li a {
        width: 46%;
        padding: 15px;
        margin: 0;
    }

    nav ul li {
        padding: 0px 0.2em 0 36px;
    }

    .h1 {
        width: 46%;
    }

    .nav ul {
        width: 46%;
        margin: 0;
    }

    .column {
        width: 100%;
        float: left;
    }

    main ul {
        margin: 30px;
    }

    main p {
        padding: 15px;
    }

    header {
        padding-bottom: 16px;
    }

    .column img {
        max-width: 20.222em;
    }
}

/* Screen For Ipad or Tablets */
@media screen and (max-device-width: 769px) {
    .wrapper {
        width: 98%;
    }

    .nav ul li a {
        width: 46%;
        padding: 15px;
        margin: 0;
    }

    nav ul li {
        padding: 0px 0.2em 0 36px;
    }


    .h1 {
        width: 46%;
    }

    .nav ul {
        width: 46%;
        margin: 0;
    }

    .column {
        width: 100%;
        float: left;
    }

    main ul {
        margin: 30px;
    }

    main p {
        padding: 15px;
    }

    header {
        padding-bottom: 16px;
    }

    .column img {
        max-width: 18.222em;
    }
}
